@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Witaj w Work Time Manager</h1><br />
    <h2>TWOJEJ APLIKACJI DO ZARZĄDZANIA CZASEM PRACY </h2><br />
    <div>
        <img src="~/img/home.jpg" class="img-fluid" width="1800" height="900" />
    </div>

</div>
